<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- MCP stdio: never write logs to stdout. -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
    <springProperty name="LOG_FILE" source="logging.file.name" defaultValue=""/>
    <springProperty name="LOG_TO_STDERR" source="analyzer.log-to-stderr" defaultValue="false"/>

    <if condition='property("LOG_FILE") != null &amp;&amp; !property("LOG_FILE").isEmpty()'>
        <then>
            <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${LOG_FILE}</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                    <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
                    <maxFileSize>10MB</maxFileSize>
                    <maxHistory>14</maxHistory>
                    <totalSizeCap>200MB</totalSizeCap>
                </rollingPolicy>
                <encoder>
                    <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
                </encoder>
            </appender>

            <if condition='property("LOG_TO_STDERR").equalsIgnoreCase("true")'>
                <then>
                    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
                        <target>System.err</target>
                        <encoder>
                            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
                        </encoder>
                    </appender>
                    <root level="INFO">
                        <appender-ref ref="STDERR"/>
                        <appender-ref ref="FILE"/>
                    </root>
                </then>
                <else>
                    <root level="INFO">
                        <appender-ref ref="FILE"/>
                    </root>
                </else>
            </if>
        </then>
        <else>
            <if condition='property("LOG_TO_STDERR").equalsIgnoreCase("true")'>
                <then>
                    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
                        <target>System.err</target>
                        <encoder>
                            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
                        </encoder>
                    </appender>
                    <root level="INFO">
                        <appender-ref ref="STDERR"/>
                    </root>
                </then>
                <else>
                    <root level="OFF"/>
                </else>
            </if>
        </else>
    </if>
</configuration>
